{% load static %}
<div class="container">
    <section class="footer">
        <div class="main-footer-info">
            <div class="left-footer-details">
                <p>© Copyright 2017-2025. JSC "Organizing electronic online <br>
                    auctions". All rights reserved
                </p>
                <div class="social-media">
                    <a href="#" class="social-media-image">
                        <img src="{% static 'images/social-media-images/telegram.png' %}" alt="telegram icon">
                    </a>
                    <a href="#" class="social-media-image">
                        <img src="{% static 'images/social-media-images/facebook.png' %}" alt="facebook icon">
                    </a>
                    <a href="#" class="social-media-image">
                        <img src="{% static 'images/social-media-images/instagram.png' %}" alt="instagram icon">
                    </a>
                    <a href="#" class="social-media-image">
                        <img src="{% static 'images/social-media-images/twitter.png' %}" alt="twitter icon">
                    </a>
                </div>
            </div>
            <div class="right-footer-details">
                <div class="phone">
                    <div class="phone-number">+998 71 202-21-11</div>
                     <div class="phone-icon1">
                        <div class="phone-icon2">
                            <div class="phone-icon3">
                                <i class="fas fa-phone"></i>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
        <p class="extra-footer-info">Veb-saytdagi axborot materiallaridan boshqa shaxslar foydalanganda jamiyatning korporativ 
            veb-saytiga majburiy havolalar korsatilishi kerak
        </p>
    </section>
</div>